<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }
</style>

</head>

<body land="en" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row no-gutter mt-3">
            <div class="col-sm">
                <form class="" action="#" th:action="@{/categories/import}" method="POST">
                    <select class="selectpicker" name="siteIndex">
                        <option value=""> -- </option>
                        <option th:each="tempSite,iter : ${siteJsonList}"
                                th:value="${iter.index}"
                                th:text="${tempSite.name}"></option>
                    </select>
                    <button type="submit" class="btn btn-info">Import Categories</button>
                </form>
            </div>
            <div class="col-sm">
                <a th:href="@{/categories/flush}"
                   class="btn btn-danger float-right">
                    Delete All Records
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-sm">
                    <form class="form-inline mt-3" action="#" th:action="@{/categories/save}" th:object="${category}" method="POST">
                        <input type="text" th:field="*{name}"
                               class="form-control" placeholder="Category Name">
                        <button type="submit" class="btn btn-info ml-3">Add</button>
                    </form>
            </div>
            <div class="col-sm">
                <form class="form-inline mt-3 float-right" action="#" th:action="@{/categories/list}" method="GET">
                    <input type="text" name="databaseQuery" class="form-control"
                           placeholder="Search"/>
                    <button type="submit" class="btn btn-info ml-3">Search</button>
                </form>
            </div>
        </div>
        <p class="text-danger" th:text="${errorMessage}"></p>

        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>Category Name</th>
                    <th style="width: 13%">Action</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="tempCategory: ${categoryPage}">
                    <td th:text="${tempCategory.name}"/>
                    <td>
                        <a th:href="@{/categories/editForm(categoryId=${tempCategory.id})}"
                           class="btn btn-success btn-sm"
                           onclick="if (!(confirm('Are you sure you want to edit this category?'))) return false">
                            Edit
                        </a>

                        <a th:href="@{/categories/delete(categoryId=${tempCategory.id})}"
                           class="btn btn-danger btn-sm"
                           onclick="if (!(confirm('Are you sure you want to delete this category?'))) return false">
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul th:if="${categoryPage.totalPages > 0}" class="pagination"
             th:each="pageNumber : ${pageNumbers}">
            <li th:class="${pageNumber==categoryPage.number + 1} ? active">
                <a th:href="@{/categories/list(size=${categoryPage.size}, page=${pageNumber})}"
                   th:text=${pageNumber}
                   th:class= "page-link">
                </a>
            </li>
        </ul>
    </div>
</body>
</html>