<!DOCTYPE html>
<html land="en" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <div class="container">
        <form class="form-inline mt-3" action="#" th:action="@{/categories/save}" th:object="${category}" method="POST">
            <input type="hidden" th:field="*{id}" />
            <input type="text" th:field="*{name}"
                   class="form-control" placeholder="Category Name">
            <button type="submit" class="btn btn-info ml-3">Save</button>
            <a th:href="@{/categories/list}" class="btn btn-info ml-3">Cancel</a>
        </form>
    </div>
</html>